.checkout {
  padding: 20px 0;
  display: flex;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: $medium) {
      flex-direction: column;
    }
    .col {
      &.left-col {
        flex: 0 0 calc(70% - 15px);
        max-width: calc(70% - 15px);
        @media (max-width: $medium) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .back-btn-checkout {
          a {
            color: $primary;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      .edit_order {
        fieldset {
          border: 0;
          .inner {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0;
            .form-row {
              display: flex;
              flex-wrap: wrap;
              flex: 0 0 50%;
              padding-right: 24px;
              .form-col {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .input-holder {
                  width: 100%;
                  display: flex;
                  input {
                    width: 100%;
                  }
                  select {
                    width: 100%;
                    height: 45px;
                  }
                }
              }
              @media (max-width: $small) {
                flex: 0 0 100%;
              }
            }
            .methods {
              width: 100%;
              .shipment {
                display: flex;
                width: 100%;
                flex-direction: column;
                .stock-contents {
                  padding: 20px 0;
                  tbody {
                    .item-image {
                      display: flex;
                      align-items: flex-start;
                      justify-content: flex-start;
                      img {
                        width: 60px;
                        height: 85px;
                        padding: 5px;
                      }
                    }
                    .item-qty {
                      text-align: center;
                    }
                    .item-price {
                      text-align: center;
                    }
                  }
                }
                .stock-shipping-method-title {
                  padding: 40px 0;
                  font-weight: bold;
                  font-size: 16px;
                }
              }
            }
          }
          .checkbox {
            display: flex;
            align-items: center;
            input {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
          .payment-methods-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            list-style-type: none;
            padding-inline-start: 0;
            .field-wrapper {
              display: flex;
              width: 90%;
              @media (max-width: 1024px){
                flex-direction: column;
                width: 100%;
              }
            }
            fieldset {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-wrap: wrap;
              @media (max-width: $small) {
                flex-direction: column;
              }
              img {
                margin-right: 100%;
                margin-bottom: 24px;
              }
              .field {
                flex: 0 0 30%;
                padding-right: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                width: 100%;
                margin-top: 16px;
                label {
                  margin-bottom: 16px;
                  font-size: 14px;
                }
                input {
                  width: 100%;
                  height: 45px;
                }
                a {
                  margin-top: 10px;
                  font-family: "chainprinter";
                  font-size: 10px;
                  color: $primary;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        legend {
          text-align: left;
          font-weight: bold;
          font-size: 16px;
        }
        .save_user_address {
          padding: 14px;
          margin-bottom: 20px;
          input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
      .edit_order {
        display: flex;
        @media (max-width: $small) {
          flex-direction: column;
        }
        .form-col-left {
          display: flex;
          flex-direction: column;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
    #checkout-summary {
      padding: 0 20px;
      flex: 0 0 100%;
      .summary {
        flex: 0 0 30%;
        max-width: 40%;
        @media (max-width: $medium) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: 20px;
        }
        .btn {
          width: 100%;
        }
        .checkout {
          padding: 20px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .code-input-holder {
          display: flex;
        }
      }
    }
  }
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $text-color;
  margin-bottom: 40px;
  margin-top: 20px;
  li {
    padding: 10px 0;
    color: #c4c4c4;
    font-size: 12px;
    font-weight: 700;
    @media (max-width: $medium) {
      margin-right: 10px;
    }
    span {
      color: #c4c4c4;
      @media (max-width: $medium) {
        display: none;
      }
    }

    &.current-first,
    &.current {
      color: $text-color;
      span {
        color: $text-color;
        @media (max-width: $medium) {
          display: inline-block;
        }
      }
    }

    //original styles
    //&.completed-first, &.completed {
    //  background-color: $table_head_color;
    //  color: $layout_background_color;
    //
    //  a {
    //    color: $layout_background_color;
    //  }
    //
    //  &:hover {
    //    background-color: $link_text_color;
    //    color: $layout_background_color;
    //
    //    a {
    //      color: $layout_background_color;
    //
    //      &:hover {
    //        color: $layout_background_color;
    //      }
    //    }
    //  }
    //}
  }
}

.step-two {
  .step-two-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  address {
    p,
    a {
      font-size: 12px;
      color: $light-text-color;
      font-style: normal;
    }
  }
  .line {
    height: 1px;
    background: #e5e5e5;
    margin: 30px 0;
  }
}

.step-three {
  .step-three-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  #payment-method-fields{
    margin-bottom: 24px;
  }
  .radio-container {
    max-width: 70%;
    @media (max-width: $small){
      max-width: 100%;
    }
  }
  #existing_cards{
    margin-top: 24px;
    padding-left: 36px;
    margin-bottom: 24px;
    @media (max-width: $small){
      padding-left: 12px;
    }
    .card-details{
      .name,.card-number,.expire-time{
        padding: 10px;
        font-weight: bold;
      }
      .checkbox{
        padding: 20px;
      }
    }
    .checkbox-c,.name-c,.card-number-c,.expire-time-c{
      padding: 10px;
    }
    .card-number-c,.expire-time-c{
      text-align: center;
    }
    .card-number,.expire-time{
      text-align: center;
    }
    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 6px;
      background-clip: content-box;
      border: 1px solid #bbbbbb;
      background-color: #e7e6e7;
      border-radius: 50%;
    }
    input[type="radio"]:checked {
      border: 1px solid $primary;
      background-color: $primary;
    }
  }
  #payment-method-fields{
    padding-left: 36px;
    @media(max-width: $small){
      padding-left: 12px;
    }
  }
}

.step-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cheers {
    font-size: 14px;
    font-family: "chainprinter", sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .step-four-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .btn {
    padding: 20px 60px;
    margin-bottom: 15px;
  }
  .step-four-text {
    font-size: 14px;
    a {
      color: $primary;
      text-decoration: underline;
    }
    @media (max-width: $small){
      padding: 20px;
    }
  }
}
