header#header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: $white;
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header-top-bar {
    background: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    img {
      margin-right: 10px;
    }
    p {
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  .header-content {
    padding: 26px 15px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobileHeader) {
      padding: 0 15px;
      align-items: center;
    }
    @media (max-width: $small) {
      height: 163px;
      align-items: flex-start;
    }
    #logo {
      margin: 0;
      padding-left: 40px;
      height: 40%;
      @media (max-width: $medium) {
        padding-left: 30px;
      }
      @media (max-width: $small) {
        padding-left: 0;
      }
      a {
        display: flex;
        align-items: center;
        img {
          height: 66px;
          @media (max-width: $small) {
            width: 100%;
            height: 66px;
            padding-top: 20px;
          }
        }
      }
    }
    .header-right {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: 20px;
      @media (max-width: $mobileHeader) {
        height: 88px;
        justify-content: space-between;
        align-items: center;
      }
      @media (max-width: $small) {
        align-items: unset;
      }
      .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding-left: 40px;
        margin-top: 24px;
        @media (max-width: 1300px) {
          width: 100%;
          align-items: flex-end;
          justify-content: flex-start;
        }
        @media (max-width: $mobileHeader) {
          position: fixed;
          z-index: 1;
          top: 132px;
          padding-left: 20px;
          left: 0;
          background: #fff;
          flex-direction: column;
          width: 100%;
          height: calc(100% - 100px);
          transform: translateX(-100%);
          transition: transform 0.2s;
          padding: 0 15px 150px 15px;
          overflow-y: auto;
          padding-left: 0;
          padding-right: 0;
          &.show {
            transform: translateX(0);
          }
        }
        @media (max-width: $small) {
          top: 121px;
          padding-left: 0;
          padding-right: 0;
        }
        .nav-link-holder {
          @media (max-width: 1300px) {
            display: flex;
          }
          @media (max-width: $mobileHeader) {
            width: 100%;
            flex-direction: column;
          }
          .nav-drop-holder {
            .nav-dropdown {
              position: absolute;
              top: calc(100% - 15px);
              left: 214px;
              width: 100%;
              max-width: 800px;
              padding: 25px 32px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
              background: $white;
              display: none;
              &.show {
                display: flex;
                flex-direction: column;
                @media (max-width: $mobileHeader) {
                  padding-top: 0;
                  margin-top: 0;
                  padding-left: 8px;
                }
                @media (max-width: $small) {
                  padding: 0;
                  margin-top: 0px;
                }
              }
              @media (max-width: $mobileHeader) {
                position: static;
                flex-direction: column;
                box-shadow: none;
                padding: 10px 0;
              }
              .col {
                margin-right: 40px;
                @media (max-width: $mobileHeader) {
                  margin-right: 0;
                }
                &.title-col {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  max-width: 110px;
                  padding: 20px 0;
                  @media (max-width: $mobileHeader) {
                    display: none;
                  }
                  img {
                    margin-right: 10px;
                  }
                  p {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 12px;
                  }
                }
                &.dropdown-col {
                  display: flex;
                  flex-wrap: wrap;
                  overflow: hidden;
                  @media (max-width: $small) {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow: auto;
                  }
                  .drop-link-holder {
                    display: flex;
                    flex: 0 0 30%;
                    @media (max-width: $small) {
                      flex: 0 0 100%;
                    }
                    .drop-link {
                      font-size: 14px;
                      font-weight: 300;
                      @media (max-width: $mobileHeader) {
                        border-bottom: 1px solid #e5e5e5;
                        width: 100%;
                        padding: 20px 10px;
                      }
                      @media (max-width: $small) {
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                        padding-left: 35px;
                      }
                    }
                  }
                }
              }
            }
          }
          .nav-link {
            padding: 8px 0 8px 20px;
            letter-spacing: 2px;
            color: $black;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            @media (max-width: 1400px) {
              padding: 5px 12px;
            }
            @media (max-width: 1300px) {
              padding: 8px 5px 0 5px;
              line-height: 0.8;
            }
            @media (max-width: $mobileHeader) {
              padding: 25px 0;
              width: 100%;
              border-bottom: 1px solid #e5e5e5;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 25px 15px;
              position: relative;
              z-index: 1;
            }
            &.active {
              color: $primary;
            }
            &.open {
              color: #fff;
              background: #e08433;
              img {
                mix-blend-mode: color-dodge;
              }
            }
            &.nav-link-with-drop {
              &::after {
                content: "";
                background: image-url("icons/icon-chevron-down.svg") no-repeat center;
                width: 14px;
                background-size: contain;
                position: absolute;
                right: 15px;
                display: none;
                height: 10px;
                @media (max-width: $mobileHeader) {
                  display: block;
                }
              }
              &.open {
                &::after {
                  background-image: image-url("icons/icon-chevron-down-white.svg");
                }
              }
            }
            img {
              margin-left: 5px;
              @media (max-width: $mobileHeader) {
                display: none;
              }
            }
          }
          &:first-child {
            .nav-link {
              padding-left: 0;
              @media (max-width: $mobileHeader) {
                padding: 25px 15px;
              }
            }
          }
          &.orange {
            .nav-link {
              padding-right: 0;
              margin-left: 20px;
              color: $primary;
              @media (max-width: 1200px) {
                margin-left: 0;
              }
              @media (max-width: $small) {
                padding: 25px 15px;
              }
            }
          }
          &:last-child {
            .nav-link {
              border: 2px solid $primary;
              padding-right: 10px;
              img{
                height: 15px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .header-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1300px) {
          align-items: center;
        }
        @media (max-width: $small) {
          height: 100%;
        }
        .header-card-user-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @media (max-width: $mobileHeader) {
            flex-direction: row;
            height: 100%;
          }
          .user-nav {
            display: flex;
            align-items: center;
            padding: 0 10px;

            @media (max-width: $small) {
              margin-left: auto;
              padding-bottom: 0;
            }
            @media (max-width: 900px) {
              padding-bottom: 0;
            }
            @media (max-width: 1060px) {
              flex-direction: column;
              align-items: flex-end;
            }
            a {
              display: flex;
              align-items: center;
              padding-right: 20px;
              font-size: 14px;
            }
            img {
              margin-right: 10px;
            }
            p {
              font-weight: bold;
              font-size: 14px;
              color: $primary;
              text-decoration: underline;
              @media (max-width: $small) {
                display: none;
              }
            }
          }
          .cart-nav {
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 24px;
            @media (max-width: $small) {
              height: 100%;
            }
            .cart-nav-button {
              background: $primary;
              display: flex;
              align-items: center;
              color: $white;
              padding: 10px 15px;
              font-size: 14px;
              border: none;
              font-family: "chainprinter", sans-serif;
              @media (max-width: $small) {
                height: 100%;
                padding: 5px 15px;
              }
              .cart-text {
                color: $white;
                @media (max-width: 1060px) {
                  display: none;
                }
                a {
                  color: $white;
                  span {
                    color: $white !important;
                  }
                }
              }
              img {
                margin-left: 10px;
                @media (max-width: $mobileHeader) {
                  margin-left: 0;
                }
              }
            }
            #cart-modal {
              position: absolute;
              top: 100%;
              right: 0;
              @media (max-width: $mobile) {
                right: -56.5px;
                top: 99%;
              }
            }
          }
        }
        .hamburger {
          display: flex;
          margin-left: 20px;
          width: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            width: 15px;
            height: 4px;
            border-radius: 15px;
            background: $primary;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 50%;
              bottom: calc(100% + 5px);
              transform: translateX(-50%);
              width: 25px;
              height: 4px;
              border-radius: 15px;
              background: $primary;
            }
            &:after {
              content: "";
              position: absolute;
              left: 50%;
              top: calc(100% + 5px);
              transform: translateX(-50%);
              width: 25px;
              height: 4px;
              border-radius: 15px;
              background: $primary;
            }
          }
          @media (min-width: $exceptMobileHeader) {
            display: none;
          }
        }
      }
      #search-bar {
        display: flex;
        align-items: center;
        padding-left: 40px;
        @media (max-width: 1300px) {
          margin-right: auto;
        }
        @media (max-width: 1000px) {
          padding-left: 10px;
        }
        @media (max-width: $small) {
          position: absolute;
          width: 100%;
          height: 75px;
          bottom: 0;
          left: 0;
          background: $light-grey;
          padding: 10px;
        }
        form {
          width: 100%;
          @media (max-width: $small) {
            width: 100%;
            height: 100%;
          }
          .search-holder {
            position: relative;
            @media (max-width: $small) {
              height: 100%;
            }
            input {
              width: 100%;
              background: $light-grey;
              color: $light-text-color;
              border: none;
              padding: 10px;
              font-size: 12px;
              font-family: "chainprinter", sans-serif;
              @media (max-width: $small) {
                width: 100%;
                height: 100%;
                background: $white;
                &::placeholder {
                  color: transparent;
                }
              }
            }
            ::-webkit-search-cancel-button {
              -webkit-appearance: none;
            }
            button {
              position: absolute;
              right: 5px;
              top: 50%;
              transform: translateY(-50%);
              border: none;
              display: flex;
              background-color: transparent;
              @media (max-width: $small) {
                img {
                  width: 25px;
                }
              }
            }
          }
        }
        .header-social {
          display: flex;
          align-items: center;
          margin-left: 15px;
          gap: 20px;
          @media (max-width: $small) {
            display: none;
          }
        }
      }
    }
  }
}

.nav-dropdown-wine_type {
  .dropdown-col {
    padding-top: 20px;
    max-height: 180px;
    flex-direction: column;
    @media (max-width: $small) {
      max-height: none;
    }
    .drop-link-holder {
      padding-right: 24px;
      .origine-main {
        display: flex;
        width: 100%;
        .drop-link {
          width: 100%;
          padding: 10px 0;
        }
        .drop-link:hover {
          text-decoration: underline;
          color: $primary;
        }
        .drop-title {
          display: none;
        }
      }
      .origine-regions {
        display: none;
      }
    }
    .see-all-holder {
      display: none;
    }
  }
  .origin-region-title {
    display: none;
  }
}
.nav-dropdown-country {
  position: relative;
  .dropdown-col {
    display: flex;
    flex-direction: column;
    align-items: left;
    .drop-link-holder {
      margin-bottom: 2px;
      @media (max-width: $small) {
        display: flex;
        flex-direction: column;
      }
      .origine-main {
        @media (max-width: $small) {
          width: 100%;
        }
        .drop-link {
          display: none;
        }
        .drop-title {
          padding: 5px 0;
          font-size: 14px;
          cursor: pointer;
          @media (max-width: $small) {
            border-bottom: 1px solid #e5e5e5;
            width: 100%;
            padding: 20px 10px;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.5px;
            padding-left: 35px;
          }
        }
        .drop-title:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
      .origine-regions {
        position: absolute;
        border-left: 1px solid #e5e5e5;
        top: 90px;
        right: 20px;
        width: 70%;
        bottom: 90px;
        padding-left: 20px;
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        @media (max-width: $small) {
          position: relative;
          top: inherit;
          right: inherit;
          bottom: inherit;
          padding-left: 0;
          flex-wrap: nowrap;
          border-left: none;
          margin-left: 20px;
        }
        .drop-link {
          padding: 12px 0;
        }
        .drop-link:hover {
          text-decoration: underline;
          color: $primary;
        }
        span {
          display: flex;
          align-items: center;
          .drop-link {
            color: $primary;
          }
        }
      }
      .show {
        display: flex;
      }
    }
    .see-all-holder {
      display: none;
    }
  }
  .origin-region-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -42px;
    p {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 12px;
    }
    img {
      margin-right: 10px;
    }
    @media (max-width: $small) {
      position: relative;
      top: inherit;
      justify-content: flex-start;
      padding-top: 20px;
    }
  }
}
.nav-dropdown-producer {
  .origin-region-title {
    display: none;
  }
  .title-col {
    white-space: nowrap;
  }
  .dropdown-col {
    padding-top: 20px;
    max-height: 300px;
    flex-direction: column;
    @media (max-width: $small) {
      max-height: none;
      padding-top: 0;
    }
    .drop-link-holder {
      padding-right: 24px;
      .origine-main {
        display: flex;
        width: 100%;
        @media (max-width: $small) {
          width: 100%;
        }
        .drop-link {
          width: 100%;
          padding: 10px 0;
        }
        .drop-link:hover {
          text-decoration: underline;
          color: $primary;
        }
        .drop-title {
          display: none;
        }
      }
      .origine-regions {
        display: none;
      }
    }
    @media (min-width: $small) {
      .drop-link-holder {
        padding-left: 12px;
      }
    }
    .see-all-holder {
      font-size: 14px;
      padding: 10px 12px;
      text-decoration: underline;
      padding-right: 24px;
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $primary;
        img {
          width: 17px;
          margin-right: 5px;
        }
      }
    }
  }
}
