.steps-data {
    .columns {
        padding: 32px 0;
        h6 {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 16px;
            letter-spacing: 2px;
            @media (max-width: $small) {
                width: 100%;
            }
        }
        .modify {
            color: $primary;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0;
            text-decoration: underline;
        }
        div {
            p {
                color: $light-text-color;
                padding: 4px 0;
                font-size: 14px;
            }
            span {
                color: $light-text-color;
                padding: 4px 0;
                font-size: 14px;
            }
        }
    }
}
.index {
    .order-thead {
        padding: 20px 0;
        .title,
        .price,
        .qty,
        .total {
            text-align: left;
            padding-bottom: 16px;
            border-bottom: 1px solid #e5e5e5;
        }
        .qty {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .order-tbody {
        img {
            width: 60px;
            height: 85px;
            padding-right: 5px;
        }
        .text-holder {
            width: 50%;
            color: $light-text-color;
            font-size: 14px;
            @media (max-width: $small) {
                width: 100%;
                font-size: 11px;
            }
        }
        .order-item-info:first-child {
            td {
                padding-top: 16px;
            }
        }
        tr {
            .quantity,
            .price,
            .total {
                .text-holder {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    #subtotal .total {
        td {
            padding-top: 30px;
            border-top: 1px solid #e5e5e5;
        }
    }
    #order-total .total {
        td {
            padding-top: 10px;
        }
    }
    #shipment-total .total {
        td {
            padding-top: 10px;
        }
    }
}

.form-col-left {
    display: flex;
}
.col-confirm {
    article {
        position: absolute;
        top: 7%;
        width: 30%;
        right: 0;
        background: inherit;
        @media (max-width: $medium) {
            position: relative;
            width: 100%;
        }
        .policy {
            background: #f4f4f4;
            padding: 10px;
        }
        .accept-terms {
            display: flex;
            align-items: center;
            padding: 15px 5px;
            input {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
        .btn {
            width: 100%;
            padding: 20px 0;
        }
    }
    fieldset {
        border: 0;
    }
    .payment-info {
        .cc-type {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
                margin-right: 5px;
            }
        }
        .full-name {
            display: none;
        }
    }
}
.order-show-col {
    padding: 40px 0;
}
#line-items {
    margin-top: 50px;
}
#order_details {
    legend {
        font-size: 20px;
        line-height: 22px;
    }
}
#checkout_form_confirm {
    margin-bottom: 60px;
    @media (max-width: $small) {
        margin-bottom: 30px;
    }
}
