.selected-taxon {
  .selected-taxon-holder {
    background: #eeeeee;
    padding: 20px 0;
    margin: 20px 0 40px 0;
    @media (max-width: $small){
      margin: 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      .tag {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background: $white;
        border-radius: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        p {
          font-family: "chainprinter", sans-serif;
          color: $black;
          font-size: 12px;
        }
        .close-tag {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .producer-content-holder {
    .container {
      display: flex;
      @media (max-width: $medium) {
        flex-direction: column;
      }
      .col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px;
        @media (max-width: $medium) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        &.col-left {
          img {
            width: 100%;
          }
        }
        &.col-right {
          padding-top: 20px;
          p {
            font-weight: 300;
            font-size: 16px;
          }
        }
      }
    }
  }
  .selected-taxon-description {
    padding: 20px;
    margin: 20px 0 40px 0;
    .container {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 48px;
      .taxon-image-holder {
        display: flex;
        width: 100%;
        img {
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
        }
      }
      .taxon-description {
        padding-top: 46px;
        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: #333333;
        }
      }
    }
  }
}
.producer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  justify-content: flex-start;
  .producer-card {
    position: relative;
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 0 10px;
    margin-bottom: 30px;
    min-height: 15em;
    max-height: 15em;
    a{
      width: 100%;
      height: 100%;
    }
    @media (max-width: $medium) {
      flex: 0 0 50%;
    }
    @media (max-width: $small) {
      flex: 0 0 100%;
      min-height: 15em;
    }
    .title-big {
      position: absolute;
      font-size: 18px;
      line-height: 26px;
      left: 25px;
      bottom: 20px;
      color: #fff;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
      background-image: linear-gradient(to top, #333 0%, #fff 100%);
      opacity: 0.2;
    }
    .producer-background {
      display: flex;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.producer-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  .producer-sidebar-title {
    padding: 20px 30px;
    .title {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
