$colMinWidth: 280px;
$colPadding: 10px;

.products-holder {
  display: flex;
  padding: 30px 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -$colPadding;
  margin-right: -$colPadding;
  border-bottom: 1px solid #e5e5e5;
}
.zoom-effect {
  display: flex;
  // padding: 30px 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  // margin-left: -$colPadding;
  // margin-right: -$colPadding;
  // border-bottom: 1px solid #e5e5e5;
}
.products-button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 54px 0 88px 0;
  .btn {
    font-family: "chainprinter", sans-serif;
  }
}

.product-col {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 $colPadding;
  margin-bottom: 30px;
  min-width: none;
  @media (max-width: calc(#{$colMinWidth * 4 + $colPadding * 4})) {
    flex: 0 0 33%;
    max-width: 33%;
  }
  @media (max-width: calc(#{$colMinWidth * 3 + $colPadding * 3})) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (max-width: $small) {
    min-width: 150px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  .product-image-holder {
    position: relative;
    img {
      width: 100%;
    }
    .new-mark-top {
      display: none;
    }
    .new-mark-bottom {
      display: none;
    }
    .product-side {
      height: 100%;
    }
  }
  .picture-holder {
    overflow: hidden;
    a {
      display: flex;
      height: 100%;
    }
  }
  .picture-holder img {
    transition: transform 0.5s ease;
  }
  .picture-holder:hover img {
    transform: scale(1.2);
  }
  .disabled-cart {
    position: relative;
    .disabled-cart-text {
      padding: 10px;
      right: 0;
      background-color: #fff;
      display: none;
      position: absolute;
      white-space: nowrap;
      border: 1px solid #e5e5e5;
    }
  }
  .disabled-cart:hover {
    .disabled-cart-text {
      display: block;
    }
  }
  .product-card-body {
    padding: 24px 16px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .body-info {
      padding: 0 16px 16px 16px;
      text-align: center;
      height: 100%;
      @media (max-width: $small) {
        padding: 0 0 16px 0;
      }
      p {
        font-size: 16px;
        font-weight: bold;
      }
      .title {
        font-family: "chainprinter", sans-serif;
        font-size: 12px;
        margin-bottom: 8px;
        font-weight: normal;
      }
    }
    .body-actions-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 0 0;
      border-top: 1px solid #e5e5e5;
      @media (max-width: $small) {
        flex-direction: column;
      }
      .price {
        @media (max-width: $small) {
          margin-bottom: 20px;
        }
        p {
          color: $light-text-color;
          font-weight: bold;
          font-size: 16px;
        }
      }
      .body-actions {
        display: flex;
        align-items: center;
        .add-to-cart {
          display: flex;
          align-items: center;
        }
        .favourite {
          display: flex;
          align-items: center;
          margin-left: 10px;
          width: 38px;
        }
      }
    }
  }
  &.new-product {
    .product-image-holder {
      position: relative;
      .new-mark-top {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        p {
          text-align: center;
          color: #fff;
          font-size: 12px;
          font-family: "chainprinter", sans-serif;
        }
      }
      .new-mark-bottom {
        background: $primary;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 85px;
        height: 38px;
        font-family: "chainprinter", sans-serif;
        p {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: $white;
        }
      }
    }
  }
  &.product-side {
    flex-direction: row;
    .product-image-holder {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product-card-body {
      display: flex;
      flex: 0 0 60%;
      flex-direction: column;
      .body-info {
        border-bottom: none;
        text-align: left;
        padding: 0 0 16px 0;
      }
      .body-actions-holder {
        margin-top: auto;
        border-top: 1px solid #e5e5e5;
        @media (max-width: $small) {
          flex-direction: row;
        }
        .price {
          @media (max-width: $small) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.featured-producer-section .new-mark-top,
.featured-collection-products-section .new-mark-top,
.all-available-products .new-mark-top {
  display: none;
}
.featured-producer-section .new-mark-bottom,
.featured-collection-products-section .new-mark-bottom,
.all-available-products .new-mark-bottom {
  display: none;
}
.product-row-slider {
  .zoom-effect {
    flex-wrap: inherit;
    justify-content: space-between;
    .swiper-slide {
      width: 32.33%;
    }
  }
  .product-card {
    flex-direction: row;
    .product-card-body {
      display: flex;
      flex: 0 0 60%;
      flex-direction: column;
      .body-info {
        border-bottom: none;
        text-align: left;
        padding: 0 0 16px 0;
      }
    }
  }
}
.new-product {
  .product-card {
    flex-direction: row;
    .product-card-body {
      height: 100%;
      flex: 0 0 60%;
      flex-direction: column;
      .body-info {
        border-bottom: none;
        text-align: left;
        padding: 0 0 16px 0;
      }
      .body-actions-holder {
        margin-top: auto;
        border-top: 1px solid #e5e5e5;
      }
    }
    .product-image-holder {
      flex: 0 0 40%;
      .picture-holder {
        height: 100;
        img {
          max-height: 232px;
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }
}
.featured-collection-products-section {
  .product-card {
    flex-direction: row;
    .product-card-body {
      height: 100%;
      flex: 0 0 60%;
      flex-direction: column;
      .body-info {
        border-bottom: none;
        text-align: left;
        padding: 0 0 16px 0;
      }
      .body-actions-holder {
        margin-top: auto;
        border-top: 1px solid #e5e5e5;
      }
    }
    .product-image-holder {
      flex: 0 0 40%;
      .picture-holder {
        height: 100;
        img {
          max-height: 232px;
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }
}
