.who-we-are {
  margin: 100px 0;
  position: relative;
  .who-we-are-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0;
    background-color: #ac4729;
    object-fit: cover;
    z-index: -1;
  }
  .container {
    display: flex;
    flex-direction: column;
    .title {
      color: $text-color;
      font-size: 14px;
      font-family: "chainprinter", sans-serif;
      font-weight: normal;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
    .title-il-locale {
      color: $text-color;
      font-size: 14px;
      font-family: "chainprinter", sans-serif;
      font-weight: normal;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
    .subtitle {
      width: 55%;
      margin-top: auto;
      font-size: 28px;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 24px;
      @media (max-width: $small) {
        width: 100%;
      }
    }
    .content-holder {
      .content-top {
        display: flex;
        @media (max-width: $medium) {
          flex-direction: column;
        }
        .col {
          &.col-left {
            .img-holder {
              img {
                width: 100%;
              }
            }
            .text-holder {
              padding: 70px 100px 50px 100px;
              @media (max-width: $medium) {
                padding: 40px 40px 50px 40px;
              }
              .text {
                color: #fff;
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
          &.col-right {
            display: flex;
            align-items: flex-end;
            padding: 10px 10px 0 10px;
            @media (max-width: $medium) {
              padding: 0;
              justify-content: flex-end;
              img {
                max-width: 160px;
              }
            }
          }
        }
      }
      .content-bottom {
        margin-top: 20px;
        @media (max-width: $medium) {
          margin-top: 50px;
        }
        .title-holder {
          display: flex;
          align-items: center;
          padding: 20px;
          .title {
            margin-bottom: 0;
            color: #fff;
          }
          img {
            margin: 0 10px;
          }
        }
        .image-columns {
          .wbctA {
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
        }
      }
    }
    .btn {
      margin: 25px auto 0 auto;
    }
  }
}
