<div class="profile-favourites" profile-nav="profile-favourites">
  <div class="favourites-title">
    <p>
      <%= t('store.user.profile.favourites') %>
    </p>
  </div>
  <div class="products-holder">
    <div class="zoom-effect">
      <% try_spree_current_user.product_likes.each do |product_like| %>
        <div class="product-col">
          <%= render partial: 'spree/shared/product_card', locals: { product: product_like.product } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
