<div class="zoom-effect">
  <% products.each do |product| %>
    <div class="product-col">
      <%= render partial: 'spree/shared/product_card', locals: { product: product } %>
    </div>
  <% end %>
</div>
<% reset_cycle("classes") %>